Rproj.user
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
.Rproj.user/
.Rproj.user/**




.DS_Store
*_cache/
/cache/
*.knit.md
.Renviron

/_book/
/_site/
/*_files/
/docs/
/site_libs/
/var/

.Rprofile

**/*.quarto_ipynb

cheat_sheet.qmd

# Addition 3/19

/.quarto/
.quarto/**
